
#grid {
}
input.submit-reset[type="submit"] {
    -moz-user-select: none;
    background: -moz-linear-gradient(center top , #F5F5F5, #E6E6E6) repeat-x scroll 0 0 #EFEFEF;
    border: 1px solid #B2B2B2;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 0 #000000;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-family: helvetica,arial,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: auto;
    line-height: 18px;
    margin: 0 0 0 16px;
    min-width: 0;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-overflow: clip;
    text-shadow: none;
    text-transform: none;
    width: auto;
}
input.submit-reset[type="submit"]:hover {
    background-color: #E8E8E8;
    background-image: -moz-linear-gradient(center top , #EFEFEF, #DDDDDD);
    background-repeat: repeat-x;
    border: 1px solid #A4A4A4;
    color: #2B2B2B;
}
input.submit-reset[type="submit"] {
    padding-left: 0;
    padding-right: 0;
    width: 99%;
}
input.submit-reset[type="submit"] {
    float: none;
    margin-bottom: 12px;
    margin-left: 0;
    padding: 6px 0;
}
.wrapper-menu .tabs {
    display: inline-block;
    margin-left: -5px;
    margin-top: 16px;
    position: relative;
    vertical-align: top;
    width: 162px;
    z-index: 99;
}
.wrapper-menu .tabs {
    margin: 0 auto;
    width: 288px;
}
.wrapper-menu .tabs {
    margin: 0 auto;
    width: 544px;
}
.wrapper-menu .tabs ul {
    margin: 0;
    padding: 0;
}
.wrapper-menu .tabs ul li {
    height: auto;
    list-style: none outside none;
    margin-left: 0;
    padding-left: 16px;
    width: auto;
}
.wrapper-menu .tabs ul li {
    background: none repeat scroll 0 0 transparent;
    display: inline-block;
    margin: 0;
    padding: 0 4px 0 0;
}
.wrapper-menu .tabs ul li {
    background: none repeat scroll 0 0 transparent;
    display: inline-block;
    margin: 0;
    padding: 0 4px 0 0;
}
.wrapper-menu .tabs ul li a {
    display: inline;
}
.wrapper-menu .tabs ul li a {
    display: inline;
}
.wrapper-menu .tabs ul li.selected {
    background: url("/redesign/global/img/menu-arrow.png") no-repeat scroll 0 -6px transparent;
    margin-right: -16px;
}
.wrapper-menu .tabs ul li.selected {
    background: none repeat scroll 0 0 transparent;
    margin-right: 0;
}
.wrapper-menu .tabs ul li.selected {
    background: none repeat scroll 0 0 transparent;
    margin-right: 0;
}
.wrapper-menu .tabs ul li.selected a:link, .wrapper-menu .tabs ul li.selected a:visited {
    color: #FFFFFF;
}
.wrapper-menu .tabs ul li.selected a:link, .wrapper-menu .tabs ul li.selected a:visited {
    background: none repeat scroll 0 0 #5FB336;
    color: #FFFFFF;
}
.wrapper-menu .tabs ul li.selected a:link, .wrapper-menu .tabs ul li.selected a:visited {
    background-color: #5FB336;
    color: #FFFFFF;
    padding: 8px 4px;
}
.wrapper-menu .tabs a:link, .wrapper-menu .tabs a:visited {
    color: #747474;
    display: block;
    padding: 9px 0 9px 4px;
    text-decoration: none;
    width: auto;
}
.wrapper-menu .tabs a:link, .wrapper-menu .tabs a:visited {
    background-color: rgba(0, 0, 0, 0.1);
    border: medium none #EBEBEB;
    float: left;
    height: 24px;
    padding: 8px 0 0;
    text-align: center;
    width: 138px;
}
.wrapper-menu .tabs a:link, .wrapper-menu .tabs a:visited {
    background-color: rgba(0, 0, 0, 0.1);
    border: medium none #EBEBEB;
    margin-bottom: 8px;
    padding: 8px 4px;
    text-align: center;
    width: 166px;
}
.wrapper-menu .tabs a:hover {
    color: #3B3B3B;
}
.wrapper-menu .panel {
    background-color: #FFFFFF;
    border: 1px solid #BDBDBD;
    display: inline-block;
    margin-left: -5px;
    padding: 32px;
    position: relative;
    width: 672px;
    z-index: 1;
}
.wrapper-menu .panel a, .wrapper-menu .panel a:link, .wrapper-menu .panel a:hover, .wrapper-menu .panel a:active, .wrapper-menu .panel a:visited {
    color: #4A8DB8;
    cursor: pointer;
    font-family: helvetica,arial,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 18px;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-overflow: clip;
    text-shadow: none;
    text-transform: none;
}
.wrapper-menu .panel a:hover {
    text-decoration: underline;
}
.wrapper-menu .panel {
    margin-left: 0;
    padding: 16px;
    width: 256px;
}
.wrapper-menu .panel {
    margin-left: 0;
    width: 480px;
}
.wrapper-menu .panel {
    width: 480px;
}
.wrapper-menu .row {
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 12px;
    padding-bottom: 11px;
}
.wrapper-menu .row:last-child, .wrapper-menu .row.last {
    border: medium none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.wrapper-menu .row h3 {
    display: inline-block;
    font-weight: bold;
    margin: 0 28px 0 0;
    vertical-align: top;
}
.wrapper-menu .row h3.no-heading {
    visibility: hidden;
}
.wrapper-menu .row h3.required:after {
    content: "*";
}
.wrapper-menu .row .settings-item {
    display: inline-block;
}
.wrapper-menu .row .settings-item label.required:after {
    content: "*";
}
.wrapper-menu .row .settings-item p {
    margin-bottom: 8px;
}
.wrapper-menu .row .settings-item p:last-child {
    margin-bottom: 0;
}
.wrapper-menu .row h3 {
    width: 160px;
}
.wrapper-menu .row h3.no-heading {
    display: none;
}
.wrapper-menu .row h3.no-heading {
    display: none;
}
.wrapper-menu .row h3.no-heading {
    display: none;
}
.wrapper-menu .row h3 {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    width: auto;
}
.wrapper-menu .row h3 {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    width: auto;
}
.wrapper-menu .row h3 {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    width: auto;
}
.wrapper-menu .row .settings-item {
    width: 480px;
}
.wrapper-menu .row .settings-item input[type="text"], .wrapper-menu .row .settings-item textarea, .wrapper-menu .row .settings-item input[type="password"] {
    border: 1px solid #CACACA;
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #3B3B3B;
    font-family: helvetica,arial,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: auto;
    line-height: 18px;
    margin: 0 0 16px;
    overflow: auto;
    padding: 4px 8px;
    resize: none;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-overflow: clip;
    text-shadow: none;
    text-transform: none;
    width: 462px;
}
.wrapper-menu .row .settings-item input[type="text"] {
}
.wrapper-menu .row .settings-item input.error {
    border: 1px solid #FED1D1;
    box-shadow: 0 0 3px rgba(180, 0, 0, 0.7);
    position: relative;
}
.wrapper-menu .row .settings-item .error-status {
    background-color: #FED1D1;
    border: 1px solid #E3A198;
    box-shadow: 0 0 3px rgba(180, 0, 0, 0.7);
    color: #B8211D;
    margin: -18px 4px 4px;
    padding: 4px 8px;
    width: 446px;
    z-index: 100;
}
.wrapper-menu .row .settings-item select {
    color: #3B3B3B;
    font-family: helvetica,arial,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 16px;
    min-width: 224px;
    padding: 6px 10px;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-overflow: clip;
    text-shadow: none;
    text-transform: none;
}
.wrapper-menu .row .settings-item select {
    padding-left: 0;
    padding-right: 0;
    width: 99%;
}
.wrapper-menu .row .settings-item {
    width: 256px;
}
.wrapper-menu .row .settings-item input[type="text"], .wrapper-menu .row .settings-item textarea, .wrapper-menu .row .settings-item input[type="password"] {
    border: 1px solid #CACACA;
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #3B3B3B;
    font-family: helvetica,arial,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: auto;
    line-height: 18px;
    margin: 0 0 16px;
    overflow: auto;
    padding: 4px 8px;
    resize: none;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-overflow: clip;
    text-shadow: none;
    text-transform: none;
    width: 238px;
}
.wrapper-menu .row .settings-item input[type="text"] {
}
.wrapper-menu .row .settings-item input.error {
    border: 1px solid #FED1D1;
    box-shadow: 0 0 3px rgba(180, 0, 0, 0.7);
    position: relative;
}
.wrapper-menu .row .settings-item .error-status {
    background-color: #FED1D1;
    border: 1px solid #E3A198;
    box-shadow: 0 0 3px rgba(180, 0, 0, 0.7);
    color: #B8211D;
    margin: -18px 4px 4px;
    padding: 4px 8px;
    width: 222px;
    z-index: 100;
}
